html{
  background: url('/Images/AddRecBckg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  line-height: 1.75;
}

.description{
  height: 5rem;
  width: 20rem;
}

.submit{
  height: 2rem;
  width: 5rem;
  border: solid;
  border-color: #99e6ff;
  background-color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.submit:hover{
  background-color: #99e6ff;
  color: white;
}

.categorieSelect{
  margin-left: 5px;
  margin-bottom: 10px;
  border: 3px solid #99e6ff;
  width: 150px;
  height: 34px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       /* remove default arrow */
}

.categorieSelect:hover{
  background-color: #99e6ff;
  color: white;
}
