html{
  background: url('/Images/AddRecBckg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  line-height: 1.75;
}

#description{
  height: 5rem;
  width: 20rem;
}
